@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --default-primary: #212529;
    --default-secondary: #495057;
    --default-tertiary: #adb5bd;
    --default-quaternary: #dee2e6;
    --default-quinary: #f8f9fa;
  }
}

.theme-default {
  --color-primary: #212529;
  --color-secondary: #495057;
  --color-tertiary: #adb5bd;
  --color-quaternary: #dee2e6;
  --color-quinary: #f8f9fa;
}

.theme-light-red {
  --color-primary: #d58181;
  --color-secondary: #cc6666;
  --color-tertiary: #bf4440;
  --color-quaternary: #a13636;
  --color-quinary: #7a2929;
}

.theme-light-blue {
  --color-primary: #85d1d6;
  --color-secondary: #6eb0cf;
  --color-tertiary: #4b85c3;
  --color-quaternary: #3b71b0;
  --color-quinary: #3758a4;
}

.theme-light-green {
  --color-primary: #7ec95e;
  --color-secondary: #4cc144;
  --color-tertiary: #66a136;
  --color-quaternary: #3a6b24;
  --color-quinary: #1f4517;
}

.theme-light-pink {
  --color-primary: #ecc6cd;
  --color-secondary: #e0a3b3;
  --color-tertiary: #d7889e;
  --color-quaternary: #cb6285;
  --color-quinary: #c34b75;
}

.theme-light-pupple {
  --color-primary: #e9bed9;
  --color-secondary: #e0a3db;
  --color-tertiary: #cf90da;
  --color-quaternary: #b079d2;
  --color-quinary: #9f62cb;
}
.theme-light-gold {
  --color-primary: #dec99c;
  --color-secondary: #d4b17d;
  --color-tertiary: #cda76a;
  --color-quaternary: #b88d3d;
  --color-quinary: #957432;
}

.theme-dark-pink {
  --color-primary: #cc6674;
  --color-secondary: #b04a5c;
  --color-tertiary: #722134;
  --color-quaternary: #b03b4e;
  --color-quinary: #913047;
}

.theme-dark-red {
  --color-primary: #a8281f;
  --color-secondary: #9b271c;
  --color-tertiary: #862219;
  --color-quaternary: #6c1414;
  --color-quinary: #450e0d;
}
.theme-dark-green {
  --color-primary: #cfe1b9;
  --color-secondary: #b5c99a;
  --color-tertiary: #97a97c;
  --color-quaternary: #87986a;
  --color-quinary: #718355;
}
.theme-dark-blue {
  --color-primary: #2c7cd8;
  --color-secondary: #264bcf;
  --color-tertiary: #213fb5;
  --color-quaternary: #261fa8;
  --color-quinary: #161e79;
}
.theme-dark-pupple {
  --color-primary: #bda0ee;
  --color-secondary: #ab82e8;
  --color-tertiary: #8241dc;
  --color-quaternary: #7324c2;
  --color-quinary: #4c198a;
}
.theme-dark-gold {
  --color-primary: #e2c347;
  --color-secondary: #d6b534;
  --color-tertiary: #7d6a01;
  --color-quaternary: #967a1e;
  --color-quinary: #6b5824;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
*::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 12px;
}

*::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 12px;
}
